<!-- About -->

<section class="page-section" id="{{ site.data.sitetext[site.locale].about.section | default: "about" }}">

  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">{{ site.data.sitetext[site.locale].about.title | default: "" }}</h2>
        <p class="section-subheading text-muted" style="font-family: Rockwell black">{{ site.data.sitetext[site.locale].about.text | default: "" }}Lizzano, paesino in provincia di Taranto a pochi passi dal mare, offre tra le vie del suo centro storico tre serate di musica, arte, cultura e food&drink. 13 concerti, 48 musicisti, attori e teatranti, pittori e scultori e area kids, il Lizzano Summer Fest è per tutte le età e nessuna scusa vi terrà lontani!</p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 mx-auto text-center" style="font:family: Rockwell Black">

         <a href="https://www.facebook.com/lizzanosummerfest/videos/1775293579480710" target="_blank" >Scopri di più!
            </a>
          </div>
      </div>
    </div>
  </section>


<!-- End About -->
