<!-- Timeline -->
  <section id="{{ site.data.sitetext[site.locale].timeline.section | default: "timeline" }}">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6 order-lg-2">
        <div class="p-5">
          <img class="img-fluid rounded" src="assets/img.scss/l.jpg" alt="">
        </div>
      </div>
      <div class="col-lg-6 order-lg-1">
        <div class="p-5">
          <h2 class="display-4" style="font-family:rockwell black">11 AGOSTO</h2>
          <p class="text-faded mb-0" style="font-family:rockwell black">Mimmo Cavallo!</p>
        <p2 class="text-faded mb-0" style="font-family:rockwell black">Ospiti speciali tra le vie del centro storico: Erika Grillo, Giorgio Consoli, Cortese!</p2>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6">
        <div class="p-5">
          <img class="img-fluid rounded" src="assets/img.scss/h.jpg" alt="">
        </div>
      </div>
      <div class="col-lg-6">
        <div class="p-5">
          <h2 class="display-4" style="font-family:rockwell black">12 AGOSTO</h2>
          <p class="text-faded mb-0" style="font-family:rockwell black">La Répétition Orchestra!</p>
          <p2 class="text-faded mb-0" style="font-family:rockwell black">Ospiti speciali tra le vie del centro storico: Falena, Melga, Cioffi</p2>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6 order-lg-2">
        <div class="p-5">
          <img class="img-fluid rounded" src="assets/img.scss/i.jpg" alt="">
        </div>
      </div>
      <div class="col-lg-6 order-lg-1">
        <div class="p-5">
          <h2 class="display-4" style="font-family:rockwell black">13 AGOSTO</h2>
          <p class="text-faded mb-0" style="font-family:rockwell black">Moka Family Big Banda!</p>
          <p2 class="text-faded mb-0" style="font-family:rockwell black">Ospiti speciali tra le vie del centro storico: Giuseppe Moscato, Gregucci, Damiano Fedele!</p2>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Timeline -->
