// Font Mixins
@mixin serif-font {
  font-family: "Rockwell black";
}
@mixin script-font {
  font-family: "Rockwell black";
}
@mixin body-font {
  font-family: "Rockwell black" ;
}
@mixin heading-font {
  font-family: "Rockwell black";
}
